/* JavaFX CSS - Leave this commen
 * t until you have at least create one rule which uses -fx-Property
 */
 .root{
 	-fx-background-color: #000;
 }
 
 .label{
 	-fx-font-size: 16px;
 	-fx-font-weight: bold;
 	-fx-text-fill: #FFF;
 }
 #myId{
 	-fx-text-fill: #E74C3C;
 	-fx-font-weight: bold;
 }
 #Red{
 	-fx-text-fill: #E74C3C;
 	-fx-font-weight: bold;
 }
 #Green{
 	-fx-text-fill: #28B463;
 	-fx-font-weight: bold;
 }